* {
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.site-header {
 padding: 24px 48px;
}

.site-header .content-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-navigation ul{
    display: flex;
    list-style: none;
}

.site-navigation ul li {
    margin-left: 16px;
}

.site-navigation ul li a {
    color: #000;
    letter-spacing: 1px;
    transition: all ease 1s;
    text-decoration: none;
}

.site-navigation ul li a:hover {
    transition: all ease 1s;
    opacity: 0.5;
}