* {
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
 padding: 24px 100px;
}

.site-header .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-navigation ul{
    display: flex;
    list-style: none;
}

.site-navigation ul li {
    margin-left: 16px;
}

.site-navigation ul li a {
    color: #000;
    letter-spacing: 1px;
    transition: all ease 1s;
    text-decoration: none;
}

.site-navigation ul li a:hover {
    transition: all ease 1s;
    opacity: 0.5;
}

.hero .content{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
}

.hero {
    margin: 100px 0;
}

.hero h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}

.hero p {
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 8px 0;
}

.hero button {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 16px;
    margin-top: 24px;
}

.hero button:hover {
    filter: contrast(250%);
}

.about {
    margin: 150px 0;
    min-height: 50vh;
}

.about .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.about h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}

.about p {
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 8px 0;
}

.about button {
    background-color: #000;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 16px;
    margin-top: 24px;
}

.about button:hover {
    filter: contrast(250%);
}